# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://lwhfjwkfkvmaqblyphij.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3aGZqd2tma3ZtYXFibHlwaGlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MjgxMTcsImV4cCI6MjA4NzUwNDExN30.C-SIvrLOCJtJmKAyBuGwvf0_UtAcl-IPpY9__nGYa4w

# LiveKit
LIVEKIT_API_KEY=<your_api_key>
LIVEKIT_API_SECRET=<your_api_secret>
LIVEKIT_URL=wss://<project-subdomain>.livekit.cloud

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
